/* ========== Conteúdo Principal =========*/

.containerPrincipal{
    max-width: 1680px;
    margin: 0 auto;
    box-sizing: border-box;
}
.conteudoPrincipal-equipamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.conteudoPrincipal-equipamentos-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    width: 28%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #2B2B2B;
    margin-top: 40px;
}

.conteudoPrincipal-equipamentos-box:hover {
	box-shadow: 0 5px 30px #2B2B2B;
}

.equipamentoLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.equipamentoImg{
    width: 70%;
    margin: 2rem 0;
    
}

.equipamentoNome{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

/*=========== RESPONSIVO ===========*/

@media screen and (max-width: 922px){

    .conteudoPrincipal-equipamentos-box{
        width: 40%;
    }
}


@media screen and (max-width: 648px){

    .conteudoPrincipal-equipamentos-box{
        height: auto;
    }
}

@media screen and (max-width: 428px){

    .conteudoPrincipal-equipamentos-box{
        width: 60%;
    }

     .dm4270 h3{
        font-size: 15px;
    }
}