/* ========== GLOBAL ==========*/

html,body {
	/* background-color: #aaabac; */
	font-family: 'Poppins', sans-serif;

}

.bg{
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    height: auto
}

footer{
    
    width:100%;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 10px;
}

/* ========== MENU ==========*/

.cabecalhoPrincipal{
    background-color: #000000;
    
}

.containerMenu {
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    color: #aaabac;
    max-width: 1680px;
    
}

.containerMenu img{
    max-width:130px;
    max-height:50px;
    width: auto;
    height: auto;
}

.cabecalhoPrincipal-nav-link {
    color: #aaabac;
    font-size: 18px;
    padding: 10px;
    margin-right: 1rem;
    text-decoration: none;
    transition: .5s;
    border-radius: 0.5rem;
}

.cabecalhoPrincipal-nav-link:hover {
    color: #FFF;
    background-color: #4e4f50;
    
}

.container--mobile{
    display: none;
}


/* ========== PRINCIPAL ==========*/
.conteudoPrincipal {
    padding: 1.3rem;
}

.titulo {
    font-weight: bold;
    font-size: 42px;;
    text-align: center;
}

.subtitulo {
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/* ========== RESPONSIVO ==========*/



@media screen and (max-width: 740px){
    .container--desktop{
        display: none;
    }

    .container--mobile{
        display: block;
    }

    .cabecalhoPrincipal-logo{
        display: flex;
        justify-content: space-between;
    }

    .cabecalhoPrincipal-logo i{
        position: absolute;
        right: 25px;
        top: 20px;
        font-size: 23px;
        color: #fff;
        cursor: pointer;
    }

    .cabecalhoPrincipal-nav{
        margin-top: 10px;
    }

    .cabecalhoPrincipal-nav-link {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }
}

@media screen and (max-width: 648px){
    .titulo {
        font-size: 32px;;
    }
    
    .subtitulo{
        font-size: 20px;
    }
}

@media screen and (max-width: 428px){
    .titulo {
        font-size: 28px;;
    }
    
    .subtitulo{
        font-size: 16px;
    }
}