.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.ativo{
    opacity: 1;
    z-index: 1;
}

.modal-conteudo{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 70vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1.3rem;
}

.modal-fechar{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-fechar:hover{
    background-color: #FF4949;
    color: white;
}

.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}


/*========== TABELA ==========*/

.tabela{
    width:90%;
    margin: 0 auto;
    text-align: left;
    
}

.tituloTabela{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

th, td{
    padding-top: 20px;
}

.tabela th{
    height: 50px;
    background-color: #FFBA00;
    padding-left: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.tabela td{
    height: 50px;
    font-size: 1.1rem;
    padding-left: 20px;
}

.tabela tr:hover{
    background-color: #FFF1CC
}


